# Walt.id Enterprise API
# Base URL of the Enterprise Stack instance
WALTID_API_URL=http://waltid.enterprise.localhost:3000
WALTID_API_URL_PUBLIC=https://your-public-url.ngrok-free.app

# Service account credentials for server-side API calls
WALTID_USERNAME=superadmin@walt.id
WALTID_PASSWORD=super123456

# Organization ID
WALTID_ORGANIZATION=waltid

# Acme Tenant Configuration
ACME_TENANT=acme-demo